/* Character Class Section */
#characterClass {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.charClass {
  text-align: center;
  background: url("../App_Design/Select_Gender/App_design_Gender_Paper_BG.png")
    center no-repeat;
  background-size: 100% 100%;
  height: auto;
  padding-bottom: 20px;
}

.characterRoleImage {
  margin: 0 auto;
  max-width: 75%;
  height: auto;
  position: relative;
  top: 20px;
}

.charClass img:first-child {
  margin: auto;
  max-width: 90%;
}

.charClass h3 {
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
  margin: auto 0;
  padding-top: 5px;
  width: 100%;
  text-transform: uppercase;
  color: transparent;
  background-size: 300% 100%;
  animation: color-change 5s ease infinite;
  background-image: radial-gradient(circle, #ffcf76, #000000, rgb(107, 86, 50));
  -webkit-background-clip: text;
  background-clip: text;
  white-space: nowrap;
}

.charClass .bonusStats {
  margin: 17px 15px 5px 15px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.charClass .stat-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.charClass .stat-cell {
  flex: 1;
  margin: auto;
}

.charClass p {
  font-size: 1.5rem;
  line-height: 2;
  font-weight: 800;
  text-align: center;
}

.charClass img:last-child {
  display: block;
  max-width: 80%;
  margin: 0 auto;
}

.charClass button {
  display: block;
  margin: 0 auto;
  width: 75%;
  font-size: 1.3rem;
  font-weight: 800;

  background: transparent;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 650px) {
  #characterClass {
    grid-template-columns: repeat(4, 1fr);
  }
}
