/* Character GENDER section  */
#genderSelectText {
  display: none;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  color: transparent;
  background-size: 200% 100%;
  animation: color-change 4s ease infinite;
  background-image: radial-gradient(circle, #ffcf76, #241701, #7e5304);
  background-clip: text;
  -webkit-background-clip: text;
  white-space: nowrap;
  margin: auto 0;
  padding-top: 10px;
}

#genderSelection {
  display: none;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.characterBGimage {
  text-align: center;
  width: calc(50%);
  max-width: 300px;
  background-image: url("../App_Design/Select_Gender/App_design_Gender_Paper_BG.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
}

.character img {
  padding-top: 30px;
  width: 85%;
  height: auto;
}

.character-name {
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: capitalize;
  padding: 0px 20px;
}

.characterInformation p {
  font-size: 1rem;
  padding: 0 20px;
  text-align: center;
  /* overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */
  cursor: pointer;
}

/* .characterInformation .expanded {
  white-space: normal;
  text-overflow: clip;
} */

.character button {
  position: relative;
  bottom: 0;
  border: none;
  font-size: 1em;
  font-weight: 800;
  padding-bottom: 30px;
  background-color: transparent;
  transition: background-color 0.3s, transform 0.3s;
}

.character button:hover,
.character button:active {
  transform: scale(1.1);
  color: #333333;
}
