/* Character GENDER section  */
#genderSelectText {
  display: none;
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: transparent;
  background-size: 500% 100%;
  animation: color-change 5s ease infinite;
  background-image: repeating-radial-gradient(
    circle,
    #ffcf76,
    #241701,
    #7e5304
  );
  background-clip: text;
  -webkit-background-clip: text;
  margin: auto 0;
  padding-top: 10px;
  width: 100%;
}

#genderSelection {
  display: none;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.characterBGimage {
  text-align: center;
  max-width: 350px; /* Set the maximum width for consistency */
  width: 50%; /* Use 50% of the available space for centering */
  background-image: url("../App_Design/Select_Gender/App_design_Gender_Paper_BG.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  padding-bottom: 30px;
}

.character img {
  padding-top: 15px;
  max-width: 85%;
  height: auto;
}

.character-name {
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: capitalize;
  padding: 5px auto;
  color: transparent;
  background-size: 200% 100%;
  animation: color-change 3s ease infinite;
  background-image: repeating-radial-gradient(
    circle,
    #ffcf76,
    #241701,
    #7e5304
  );
  background-clip: text;
  -webkit-background-clip: text;
}

.characterInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  padding: 0 25px;
}

.characterInformation p {
  font-size: 1.1rem;
  text-align: center;
}

/* .characterInformation .expanded {
  white-space: normal;
  text-overflow: clip;
} */

.characterGenderButton {
  margin: auto;
}

.characterGenderButton button {
  width: 80%;
  font-size: 1.1rem;
  font-weight: 800;
  background-color: transparent;
}
