/* Character GENDER section  */
#genderSelectText {
  display: none;
  text-align: center;
  font-size: 3rem;
  margin: auto 0;
  width: 100%;
  padding-top: 10px;
  text-transform: uppercase;
  color: transparent;
  background-size: 300% 100%;
  animation: color-change 10s ease infinite;
  background-image: radial-gradient(circle, #ffcf76, #121308, rgb(107, 86, 50));
  -webkit-background-clip: text;
  background-clip: text;
}

#genderSelection {
  display: none;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100%;
  max-width: 100%;
}

.characterBGimage {
  text-align: center;
  max-width: 350px; /* Set the maximum width for consistency */
  width: 50%; /* Use 50% of the available space for centering */
  background-image: url("../App_Design/Select_Gender/App_design_Gender_Paper_BG.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  padding: 2rem;
}

.character img {
  margin: 0 auto;
  max-width: 100%;
  max-height: 180px;
}

.character-name {
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: capitalize;
  padding-top: 10px;
  color: transparent;
  background-size: 300% 100%;
  animation: color-change 5s ease infinite;
  background-image: radial-gradient(circle, #ffcf76, #000000, rgb(107, 86, 50));
  -webkit-background-clip: text;
  background-clip: text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.characterInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80%;
  margin: 0 auto;
}

.characterInformation p {
  font-size: 1rem;
  text-align: center;
}

.characterGenderButton {
  margin: auto;
}

.characterGenderButton button {
  width: 80%;
  font-size: 1.1rem;
  font-weight: 800;
  background-color: transparent;
}
