#gameView {
  display: none;
  width: 600px;
  max-width: 99%;
  z-index: 1;
}

#mainMenuContainer {
  position: relative;
  top: 0;
  margin: 0 auto;
  display: none; /* NONE OR FLEX*/
  flex-direction: row;
  align-items: center;
  margin-top: 2px;
  justify-content: space-evenly;
}

.menu-button {
  text-transform: uppercase;
  width: 30%;
  margin: 5px;
  padding: 10px 5px;
  font-size: 1.2rem;
  background-color: #333333f0;
  color: #efefefef;
  font-weight: 800;
  font-family: "Press Start 2P";
}

.menu-button:hover,
.menu-button:active {
  background-color: #60f7ffe3;
  color: black;
}

#gameOverview {
  position: relative;
  top: 0;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex; /* NONE OR FLEX*/
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

#characterImageContainer {
  width: 120px;
  /* background-color: rgba(245, 222, 179, 0.255); */
  background-color: rgba(255, 255, 255, 0.5);
}

#characterImageContainer img {
  width: 100%;
  height: 100%;
}

#labels {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 5px 0 10px;
  text-align: right;
}

#labels p {
  text-align: right;
  color: white;
  font-size: 15px;
  line-height: 26px;
  margin: 5px auto;
  font-weight: bolder;
}

#characterInfoTextsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.bar {
  display: block;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  height: auto;
  position: relative;
  margin: 8px auto;
}

.bar span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: justify;
  color: rgba(0, 0, 0, 0.758);
  font-size: 1.3rem;
  font-weight: 900;
}

.health,
.mana,
.experience {
  height: 100%;
  transition: width 0.3s;
}

.health {
  background: linear-gradient(
    to right,
    #ff1a1a,
    #ff7d7d
  ); /* Red gradient for Health */
  width: 80%;
  height: 20px;
}

.mana {
  background: linear-gradient(
    to right,
    #1952ff,
    #7b9bfc
  ); /* Blue gradient for Mana */
  width: 60%;
  height: 20px;
}

.experience {
  background: linear-gradient(
    to right,
    #1dff1d,
    #80ff80
  ); /* Green gradient for Experience */
  width: 40%;
  height: 20px;
}

#storyDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  margin: 10px auto;
  width: 600px;
  max-width: 100%;
  min-height: 450px;
  max-height: 1000px;

  background-image: url("../App_Design/Select_Gender/paperStoryBackground.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Courier New", Courier, monospace;
}

#storyDiv h3 {
  margin: 10px;
  text-align: center;
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.4);
  font-weight: bolder;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid black;
}

#storyParagraphContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 5px 15px;
  font-size: 1.5rem;
  font-weight: bolder;
}

#gameMenuButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

#gameMenuButtons button {
  font-size: 2rem;
  padding: 5px 10px;
  margin: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  font-weight: bolder;
  color: white;
}
