#gameView {
  display: none;
  height: 81vh;
  max-height: 99%;
  width: 600px;
  max-width: 99%;
  background-color: rgba(245, 222, 179, 0.255);
  z-index: 1;
}

#mainMenuContainer {
  position: relative;
  top: 0;
  margin: 0 auto;
  display: none; /* NONE OR FLEX*/
  flex-direction: row;
  align-items: center;
  margin-top: 2px;
  justify-content: space-evenly;
}

.menu-button {
  text-transform: uppercase;
  width: 30%;
  margin: 5px;
  padding: 5px 10px;
  font-size: 1rem;
  background-color: #333333f0;
  color: #efefefef;
  font-weight: 800;
  font-family: "Press Start 2P";
}

.menu-button:hover,
.menu-button:active {
  background-color: #60f7ffe3;
  color: black;
}

#gameOverview {
  position: relative;
  top: 0;
  margin: 0 auto;

  display: flex; /* NONE OR FLEX*/
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
}

#characterImageContainer {
  width: 100px;
  display: inline;
  border: 3px solid rgba(0, 0, 0, 0.5);
}

#characterImageContainer img {
  width: 100%;
  height: 100%;
}

#characterInfoTextsContainer {
  background-color: #333333dd;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.bar p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  font-size: 1.2rem;
  font-weight: 900;
}

.bar {
  width: 100%;
  background-color: #ddd;
  height: 20px;
  border: 1px solid #000;
  position: relative;
}

.health,
.mana,
.experience {
  height: 100%;
  transition: width 0.3s;
}

.health {
  background-color: #b42727; /* Red for Health */
  width: 81%;
}

.mana {
  background-color: #2c55b3; /* Blue for Mana */
  width: 40%;
}

.experience {
  background-color: #22a422; /* Green for Experience */
  width: 70%;
}

#storyDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 0;
  margin: 10px auto;
  width: 100%;
  height: 95%;
  border: solid black;
  background-color: rgba(238, 232, 170, 0.8);
}

#storyDiv h3 {
  margin: 5px auto 10px auto;
  text-align: center;
  font-size: 2rem;
  background-color: #33333333;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

#storyParagraphContainer {
  border: 0.5 px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 5px 15px;
  font-size: 1.5rem;
}

#gameMenuButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

#gameMenuButtons button {
  font-size: 1.5rem;
  padding: 5px 10px;
  margin: 0 10px;
  background-color: #33333355;
  color: black;
}
