/* GAME SETTINGS CONTAINER */
#gameSettingsContainer {
  font-family: "Times New Roman", Times, serif;
  display: none; /*GRID OR NONE */
  grid-template-rows: auto;
  gap: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333333f0;
  color: #efefef;
  border: 1px solid rgba(17, 17, 17, 0.94); /* Slightly transparent border */
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 90%;
  max-width: 600px;
  z-index: 999;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif; /* Add a default font family */
  padding-bottom: 2rem;
}

/* GAME SETTINGS TITLE */
#gameSettingsContainer h2 {
  font-size: 2.5rem;
  font-weight: bold; /* Bolder font weight */
  padding: 1.5rem 0;
  text-transform: uppercase;
  background: linear-gradient(to right, #ffcf76, #3e2e18, rgb(107, 86, 50));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  animation: color-change 4s ease infinite;
  background-size: 1000% 100%;
}

/* GAME SETTINGS BUTTONS */
#gameSettingsContainer button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  background-color: #666;
  color: #efefefef;
  border: none;
  cursor: pointer; /* Add a pointer cursor to buttons */
}

#gameSettingsContainer button:hover,
#gameSettingsContainer button:active {
  background-color: #ffcf76;
  color: black;
}

#homeSettings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

/* HOME BUTTON, RESUME */
#homeSettings button {
  width: 30%;
}

/* SETTINGS (Font Size and Sound) */
.setting {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  font-weight: bold;
  margin: 2rem 0;
  font-size: 1.5rem;
}

#centeredButtons p {
  width: 12rem;
  border: 1px solid rgba(154, 154, 154, 0.325);
}
