/* GAME SETTINGS CONTAINER */
#gameSettingsContainer {
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #333333f5;
  color: #efefef;
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 95%;
  max-width: 500px;
  z-index: 999;
  padding: 30px;
}

#gameSettingsContainer h2 {
  font-size: 2.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: transparent;
  background-size: 300% 100%;
  animation: color-change 5s ease infinite;
  background-image: radial-gradient(circle, #ffcf76, #000000, rgb(107, 86, 50));
  -webkit-background-clip: text;
  background-clip: text;
  white-space: nowrap;
}

#homeSettings {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  gap: 40px;
}

#homeSettings button,
#centeredButtons button {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 7.5px 15px;

  background-color: #666;
  color: #efefefef;
  border: none;
  cursor: pointer;
}

#centeredButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.setting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.setting p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  width: 50%;
  height: 100%;
}

#fontSizeText,
#volumePercentage {
  width: 50%;
  margin: 0 5px;
  border-radius: 5px;
  border: solid #ffffff30;
}

#confirmSettingsContainer button {
  margin-top: 50px;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 7.5px 15px;
  background-color: #666;
  color: #efefefef;
  border: none;
  cursor: pointer;
}

#gameSettingsContainer button:hover,
#gameSettingsContainer button:active {
  background-color: #ffcf76;
  color: black;
}
