#CharacterSkillsList {
  font-family: "Times New Roman", Times, serif;
  display: none; /*NONE OR BLOCK */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333333f5;
  color: #efefefef;
  border: 1px solid #111111f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 95%;
  height: auto;
  max-height: 600px;
  max-width: 650px;
  z-index: 999;
  padding: 20px 10px;
  overflow-y: auto;
}

#CharacterSkillsList h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: transparent;
  background-size: 300% 100%;
  animation: color-change 5s ease infinite;
  background-image: radial-gradient(circle, #ffcf76, #000000, rgb(107, 86, 50));
  -webkit-background-clip: text;
  background-clip: text;
  white-space: nowrap;
  margin-bottom: 40px;
}

/* Add this CSS for the skills and labels inside offensiveSkills */
#offensiveSkills {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.skill {
  border: solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.skill p {
  font-size: 1.5rem;
}

.skill button {
  border: none;
  background-color: transparent;
}
.skill img {
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
}
.description {
  display: flex;
}
.description p {
  font-size: 1rem;
  margin-left: 10px;
}
