#CharacterSkillsList {
  font-family: "Times New Roman", Times, serif;
  display: none; /*NONE OR BLOCK */
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  background-color: #333333f5;
  color: #efefefef;
  border: 1px solid #111111f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 95%;
  height: 80%;
  max-height: 700px;
  max-width: 650px;
  z-index: 996;
  overflow-y: auto;
}

#CharacterSkillsList h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: transparent;
  background-size: 300% 100%;
  animation: color-change 5s ease infinite;
  background-image: radial-gradient(circle, #ffcf76, #000000, rgb(107, 86, 50));
  -webkit-background-clip: text;
  background-clip: text;
  white-space: nowrap;
  padding: 20px 0;
}

#skillList {
  padding: 0.5rem;
}

#skillList > h3 {
  font-size: 1.5rem;
  margin-bottom: 2.5px;
}

.skill {
  border: solid rgba(255, 0, 0, 0.434);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.skill button {
  border: none;
  background-color: transparent;
}
.skill img {
  width: 5rem; /* Adjust the width as needed */
  height: 5rem; /* Adjust the height as needed */
}

.description {
  line-height: 1.5;
  border: solid blue;
  margin-left: 0.5rem;
  padding: 0.5rem;
}

.description p {
  font-size: 1rem;
}

.description p:first-child {
  margin-bottom: 5px;
}

.description {
  display: flex;
  flex-direction: column;
}
