#statsOverview {
  display: none; /*NONE OR BLOCK */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333333f0;
  color: #efefefef;
  border: 1px solid #111111f0;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 90%;
  max-width: 500px;
  z-index: 999;
  padding-bottom: 5px;
}

#statsOverview h2 {
  font-size: 2.5rem;
  font-weight: bolder;
  padding: 1.5rem 0;
  text-transform: uppercase;

  color: transparent;
  background-size: 300% 100%;
  animation: color-change 5s ease infinite;
  background-image: radial-gradient(circle, #ffcf76, #000000, rgb(107, 86, 50));
  -webkit-background-clip: text;
  background-clip: text;
  white-space: nowrap;
}

#statsView {
  text-align: center;
}

#statsView ul {
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  padding: 0;
  line-height: 3rem;
}

/* <!-- Stat modifiers section --> */
#statModifiers ul {
  list-style: none;
  padding: 1rem 4rem;
}

#statModifiers li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;

  justify-content: space-between;
  padding: 0.5rem 0;
}

#statModifiers .buttons button {
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  background-color: #666;
  color: #efefefef;
  border: none;
  cursor: pointer;
}

#statModifiers .buttons button:hover,
#statModifiers .buttons button:active {
  background-color: #ffcf76;
  color: black;
}

#availablePointsText {
  color: transparent;
  background-size: 100% 100%;
  background-image: radial-gradient(circle, #ffcf76, rgb(112, 84, 36));
  -webkit-background-clip: text;
  background-clip: text;
  white-space: nowrap;
  font-size: 1.5rem;
}

#availablePointsValue {
  font-weight: 900;
  font-size: 1.8rem;
}

#statsConfirm,
#statsCancel {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 5px 10px;
  background-color: #666;
  color: #efefefef;
  border: none;
  margin: 15px 10px;
}

#statsConfirm:hover,
#statsCancel:hover,
#statsConfirm:active,
#statsCancel:active {
  background-color: #ffcf76;
  color: rgb(78, 62, 34);
}
