/* Reset and global styles */

@keyframes color-change {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Global Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}

html,
body {
  color: #111111;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
 
}

/* Body Styles */
body {
  font-family: "Courier New", Courier, monospace;
  background-image: url("background_img/main.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

img {
  pointer-events: none;
}

header {
  display: block; /* TOGGLE NONE or BLOCK */
}

#gameTitleImage {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#gameTitleImage img {
  width: 100vmin;
  height: auto;
}

.startGameButtonContainer {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#startGameButton {
  display: block;
  cursor: pointer;
  width: 50vmin;
  height: auto;
  transition: transform 0.2s;
}

#startGameButton img {
  width: 100%;
  height: 100%;
}

#startGameButton:hover,
#startGameButton:active {
  transform: scale(1.1);
}

