*,
*::before,
*::after {
  box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    pointer-events: auto; /* Allow click events on the link */
}
html,
body {
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Ensure no content or padding causes overflow */
  width: 100%;
  height: 100vh;
}

body {
  background-image: url("img/art04.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0; /* Ensure no margin is applied */
  padding: 0; /* Ensure no padding is applied */
 
}

img {
  -webkit-user-select: none; /* Prevent selection on iOS devices */
  user-select: none; /* Prevents the user from selecting the image */
  pointer-events: none; /* Disable click events on the link or images */
}

header {
  display: block; /* BLOCK / NONE */
}

#gameTitleImage {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#gameTitleImage img {
  width: 100vmin;
  height: auto; /* Ensures the aspect ratio is maintained */
}

@keyframes color-change {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.startGameButtonContainer {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.startGameButtonContainer img {
  cursor: pointer;
  width: 50vmin;
  height: auto;
  pointer-events: auto; /* Enable click events on the link or images */
}

#startGameButton:hover,
#startGameButton:active {
  transform: scale(1.05);
}

#gameNavigation {
  display: none; /* FLEX / NONE */
  justify-content: space-between;
}

#gameNavigation button {
  font-size: 1.1em;
  background-color: #dac588;
  border: 1vmin solid #d6ac6d; /* Using viewport width units for border */
  border-radius: 5%;
  color: #333;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-family: cursive;
  box-shadow: 0.5vw 0.5vw 1vw rgba(0, 0, 0, 0.5); /* Using viewport width units for box shadow */
  cursor: pointer;
  margin-top: 5px;
}

h2 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2.5em;
  color: transparent;
  background-size: 350% 100%;
  animation: color-change 5s ease infinite;
  background-image: radial-gradient(circle, #ffcb6a, #000000, #000000);
  background-clip: text;
  -webkit-background-clip: text; /* For webkit-based browsers */
}

@keyframes color-change {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Character selection section */
#characterSelection {
  display: none; /* FLEX / NONE */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; /* Center vertically */
  height: 100vh; /* Center horizontally */
}

.character {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: calc(50% - 20px); /* Two columns on larger screens */
  max-width: 300px; /* Limit maximum width for smaller screens */
}

.character img {
  max-width: 100%;
  border-radius: 50%;
}

.character-info {
  margin-top: 10px;
}

.character-info h3 {
  font-size: 1.5em;
  margin: 10px 0;
}

.character-info p {
  margin: 5px 0;
  font-size: 1em;
}

#gameNavigation button {
  margin-top: 10px;
  background-color: #eebd74;
  border: 1px solid #d6ac6d;
  border-radius: 5px;
  color: #333;
  font-size: 1em;
  padding: 5px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

#gameNavigation button:hover {
  background-color: #dac588;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
