/* Reset and global styles */

@keyframes color-change {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Global Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}

html,
body {
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Body Styles */
body {
  background-image: url("img/art04.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

img {
  pointer-events: none;
}

header {
  display: block; /* TOGGLE NONE or BLOCK */
}

#gameTitleImage {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#gameTitleImage img {
  width: 100vmin;
  height: auto;
}

/* Start Game Button Styles */
.startGameButtonContainer {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#startGameButton {
  display: block;
  cursor: pointer;
  width: 40vmin;
  height: auto;
  transition: transform 0.2s;
}

#startGameButton img {
  width: 100%;
  height: 100%;
}

#startGameButton:hover,
#startGameButton:active {
  transform: scale(1.1);
}

/* Character GENDER section  */
#genderSelectText {
  display: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.2em;
  color: transparent;
  background-size: 350% 100%;
  animation: color-change 5s ease infinite;
  background-image: radial-gradient(circle, #ffcb6a, #221600, #362300);
  background-clip: text;
  -webkit-background-clip: text;
  margin: 20px 0px; /* Add a top margin to position it at the top */
}

#genderSelection {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.character {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  margin: 10px;
  width: calc(50% - 20px);
  max-width: 300px;
}

.character img {
  max-width: 100%;
  border-radius: 10%;
}

.character-info {
  margin-top: 10px;
}

.character-info h3 {
  font-size: 1.5em;
  font-weight: 900;
}

.character-info p {
  text-align: justify;
  margin: 5px 0;
  font-size: 1em;
}

.character button {
  width: 100%;
  margin-top: 20px;
  padding: 10px 0;
  font-size: 1.2em;
  border-radius: 5px;
  font-weight: 700;
  border: none;
  background-color: #ddd;
  color: #111;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.character button:hover,
.character button:active {
  background-color: #fff;
  transform: scale(1.05);
}

/* Character Class Section */

#characterClass {
  display: none; /* TOGGLE NONE or GRID */
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  max-width: 450px;
}

.charClass {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 15px 0px;
  text-align: center;
}

.charClass p {
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
}

.charClass img {
  max-width: 75%;
  border-radius: 10%;
  display: block;
  margin: 0 auto;
}

.charClass button {
  width: 75%;
  margin-top: 20px;
  padding: 10px 0;
  font-size: 1em;
  border-radius: 5px;
  font-weight: 700;
  border: none;
  background-color: #ddd;
  color: #111;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.charClass button:hover,
.charClass button:active {
  background-color: #fff;
  transform: scale(1.05);
}
